{
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": 2 // Means error
  }
}
